.scroll-bar:vertical .track {
    -fx-background-color: #ffffff;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #878787;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.subject {
    -fx-background-color: #ffffff;
}

.subject:hover {
    -fx-background-color: #f5f5f5;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #C00000;
}